
html,body{
	width: 100%;height: 100%;overflow-x: hidden;
	font-family:  'Ponppins','Source Sans Pro', 'Lucida Grande', sans-serif;
}
.box{
	width: 400px;position: absolute;left: 50%;margin-left: -200px;
	display: flex;flex-direction: column;justify-content: center;
	font-weight: 600;font-size: 13px;background-color: #FFF;
	.about{
		width: 100%;line-height: 40px;border: 1px solid #CCC;box-shadow: 0 0 3px #CCC;
		border-radius: 5px;margin-top: 20px;
		box-sizing: border-box;background: white;text-align: center;
	}
}
.box .content{
	width: 100%;text-align: left;padding:15px;padding-bottom: 20px;border: 1px solid #CCC;
	box-shadow: 0 0 3px #CCC;border-radius: 5px;background: white;box-sizing: border-box;
	.headportrait{
		width: 150px;height: 150px;
		margin: 10px auto 30px;border-radius: 50%;overflow: hidden;
	}
	.headportrait .container{
		width: 100%;height: 100%;background: transparent;padding:0;
		img{
			width: 220px
		}
	}
	.title{
		font-size: 17px;margin-bottom: 10px;
	}
	label{
		display: inline-block;width: 50%;height: 35px;line-height: 35px;
	} 
	input{
		width: 100%;height: 40px; border: 1px solid #CCC;font-weight:400;font-size:14px;
		border-radius: 5px;padding-left: 20px;box-sizing: border-box;
	}
	input:active{
		outline: 0;background: rgba(204,204,204,0.4);border-color: #1F8ACC;
	}
}
.forgetline{
	display: flex;justify-content: space-between;line-height: 35px;
	label{
		width: 50%
	}
	a{
		text-decoration: underline;
	}
}
.blank{
	background: transparent;width: 100%;height: 20px;
}
.verify{
	width: 100%;border-radius: 5px;margin: 5px auto;
	height: 25px;line-height: 25px;padding-left: 10px;box-sizing: border-box;
	background: red;color: white;font-size: 12px;font-weight: 500;
}
.spancontainer{
	text-align: center;
}
.entry{
	height: 30px;line-height: 30px;
	text-decoration: underline;text-shadow: 0 2px 4px rgba(0,0,0,.25);font-weight: 500
}
.noline{
	text-decoration: none
}
.toastsuc{
	background: linear-gradient(.31deg,#3cac8a .7%,#5cceac 99.3%);
	text-shadow: 0 2px 4px rgba(0,0,0,.25);
	/* Mint-Ui组件的提示文字 */
	span{
		text-align: left;font-size: 12px;color: white;
	}
}
.filament{
	width: 100%;height: 2px;background: #CCC;transform: scaleY(0.5)
}
.filament8{
	width: 100%;border-top: 1px solid #CCC;
	transform: scaleY(0.8)
}
// a:active{
// 	background-color: #1F8ACC;
// }
.content90{
	position: relative;width: 90%;margin: 0 auto;
}
.content95{
	position: relative;width: 95%;margin: 0 auto;
}
input[type="file"],
input[type="button"]{
	-webkit-appearance : none ;
    cursor: pointer;
}
button{
	-webkit-appearance : none ;
    cursor: pointer;
}
input::-webkit-input-placeholder{
	font-size: 12px;
}
input:-moz-placeholder{
	font-size: 12px;
}
input::-moz-input-placeholder{
	font-size: 12px;
}
input:-ms-input-placeholder{
	font-size: 12px;
}
.eye{
	position: relative;
	i{
		float: right;position: absolute;right: 10px;top: 50%;transform: translateY(-50%);
		color: #CCC;font-size:17px;
	}
}